         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
             <h4 class="modal-title" id="myModalLabel">Get Rentin'</h4>
         </div>
         <div class="modal-body">
             <div class="row">
                 <div class="col-xs-6">
                     <div id="backLogIn" class="well">
                         <form id="loginForm" method="POST" action = "#" novalidate="novalidate">
                             <div class="form-group">
                                 <label for="username" class="control-label">Username</label>
                                 <input type="text" class="form-control" id="username" name="username" value="" required="" title="Please enter you username" placeholder="example@gmail.com">
                                 <span class="help-block"></span>
                             </div>
                             <div class="form-group">
                                 <label for="password" class="control-label">Password</label>
                                 <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                 <span class="help-block"></span>
                             </div>
                             <div class="form-group">
                                 <label for="password" class="control-label">Re-Enter Password</label>
                                 <input type="password" class="form-control" id="password-conf" name="password" value="" required="" title="Please re-enter your password">
                                 <span class="help-block"></span>
                             </div>
                             <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="remember" id="remember"> Remember login
                                 </label>
                                 <p class="help-block">(if this is a private computer)</p>
                             </div>
                             <div id = "err" style = "color: red; font-size: 78%"> </div>
                             <button type="submit" class="btn btn-success btn-block mybtn">Sign Up</button>
                             <a href="/forgot/" class="btn btn-default btn-block">Review Scambio</a>
                         </form>
                     </div>
                 </div>
                 <div class="col-xs-6">
                     <p class="lead">Register now for <span class="text-success">FREE</span></p>
                     <ul class="list-unstyled" style="line-height: 2">
                         <li><span class="fa fa-check text-success"></span> See all your orders</li>
                         <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                         <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                         <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                         <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                     </ul>
                 </div>
             </div>
         </div>
         <!-- <script>
            $(document).ready(function(){
              $('#loginForm').ready(function(){
                 $('#loginForm').submit(function(event) {
                   var email = $('#username').val();
                   var password = $('#password').val();
                   firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // ...
                   });
                   event.preventDefault();
                 });
              });
            });
         </script> -->
         <script src = "./js/jquery.session.js"></script>
         <script>
            $(document).ready(function(){
              $('#loginForm').ready(function(){
                 $('#loginForm').submit(function(event) {
                   var email = $('#username').val();
                   var password = $('#password').val();
                   var confpassword = $('#password-conf').val();
                   if(password == confpassword)
                   firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
                        // Handle Errors here.
                        document.getElementById('err').innerHTML= error.message;
                        // ...
                   });
                   else{
                     document.getElementById('err').innerHTML = "Your passwords do not match";
                   }
                   if(firebase.auth().currentUser != null) window.location.replace(".");
                   event.preventDefault();

                 });
              });
            });
         </script>
